@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

span {
  background-color: unset !important;
  color: inherit !important;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
